<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-inbox"></i> Notifications
    {{#if notificationCount}}
    <span class="badge badge-inverse">{{notificationCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="notification dropdown-menu">
    {{#if notificationCount}}
    {{#each notifications}}
    {{> notification}}
    {{/each}}
    {{else}}
    <li><span>No Notifications</span></li>
    {{/if}}
  </ul>
</template>

<template name="notification">
  <li>
    <p><strong>{{issuerName}}</strong> wants to share the offer <strong>{{offerFirstAndLastname}}</strong> with you.</p>
    <p><a href="{{notificationOfferPath}}" class="btn btn-primary accept">Accept</a><a href="" class="btn btn-danger dismiss">Dismiss</a></p>
  </li>
  <li role="presentation" class="divider"></li>
</template>