<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-inbox"></i> Notifications
    {{#if notificationCount}}
    <span class="badge badge-inverse">{{notificationCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="notification dropdown-menu">
    {{#if notificationCount}}
    {{#each notifications}}
    {{> notification}}
    {{/each}}
    {{else}}
    <li><span>No Notifications</span></li>
    {{/if}}
  </ul>
</template>

<template name="notification">
  <li>
    <a href="{{notificationOfferPath}}">
      <strong>{{issuerName}}</strong> wants to share the offer <strong>{{offerText}}</strong> with you (click to accept).
    </a>
  </li>
</template>