<template name="about">
  <div class="offer">
    <div class="offer-content">
      <h3>About (German; for english, see below)</h3>

      <p>
        minutocash ist eine Plattform um Angebote zu erstellen, tauschen, verwalten und zu durchsuchen.
        Sie soll Menschen zusammenbringen, die ihre Fertigkeiten teilen und erweitern wollen.</p>

      <p>Das Prinzip ist angelehnt an das das selbst geschöpfte und dezentrale Zahlungsmittel
        <a href="ttp://minutocash.org/">minutocash</a>.</p>

      <h4>Funktionen</h4>

      <ul>
        <li>Eigenes Angebot erstellen</li>
        <li>Eigenes Angebot mit anderen Benutzern teilen</li>
        <li>Angebote durchsuchen</li>
      </ul>
      <hr>
      <h3>About (English)</h3>

      <p>minutocash is a platform to share offers to people you know in real life. The platform should
        bring people together, which like to share and develop their skills.</p>

      <p>The main concept comes from the decentral currency <a href="ttp://minutocash.org/">minutocash</a>.</p>

      <h4>Features</h4>

      <ul>
        <li>Create a new Offer</li>
        <li>Share offers with other users</li>
        <li>Search your offers</li>
      </ul>

      <hr>
      <h3>Testing and development</h3>

      <p>Check out the app at <a href="http://minutocash.sinndrin.ch">minutocash.sinndrin.ch</a>.</p>

      <p>The source code is available on <a href="https://github.com/dandelo/minutocash">github</a>.</p>

      <h4>Pre-defined accounts</h4>

      <p>The following accounts are already available for test purposes an have populated offers and shared offers:</p>

      <ul>
        <li>Username: <strong>Foobar</strong> / Password: <strong>Foobar</strong></li>
        <li>Username: <strong>Barfoo</strong> / Password: <strong>Barfoo</strong></li>
        <li>Username: <strong>Tester</strong> / Password: <strong>Tester</strong></li>
      </ul>

      <p>You are free to create your own account, but keep in mind this site is for developing and
        testing purposes only. Therefore, all data will be wiped periodical.</p>
      <hr>
      <h3>Credits</h3>

      <p>The minutocash plattform is mainly developed by the swiss cooperative <strong>sinndrin genossenschaft</strong>.

        Parts of the app come from the following sources:

      <ul>
        <li><a href="https://www.discovermeteor.com/">DISCOVER METEOR</a>, the great book for learning meteor. (Almost
          all parts of the app)
        </li>
        <li><a href="https://github.com/schuel/hmmm">hmmm</a>, a Course-Organization-Platform built with Meteor.js.
          (Fulltext-search with realtime-output and the fancy ticker on top)
        </li>
      </ul>


    </div>
</template>