<template name="anonymousUsersInformation">
  <div class="offers">
    <div class="offer">
      <div class="offer-content">
<!-- begin markdown section -->
{{#markdown}}
<h3 style="color:red;">Du bist nicht angemeldet!</h3>

Wie auf der [About Seite](({{pathFor 'about'}}) beschrieben, sind die Funktionen dieser minuto Plattform nur für
eingeloggte Benutzer verfügbar. <br><br>

Um die Plattform zu testen, melde dich mit einem vordefinierten Benutzerkonto (via **Sign In / Up** oben rechts)
an, das bereits einige Angebote und geteilte Angebote als Beispiel enthält. <br><br>

Die folgenden Benutzerkonten sind für Testzwecke verfügbar (GrOsS/ kLeInScHrEiBuNg beachten!):

* Benutzername: **Foobar** / Passwort: **Foobar**
* Benutzername: **Barfoo** / Passwort: **Barfoo**
* Benutzername: **Tester** / Passwort: **Tester**

Wenn du dich nich mit einem dieser Konten anmelden kannst, hat wahrscheinlich jemand das Passwort geändert. :-(
<br><br>

Du kannst auch ein neues Konto eröffnen, aber denk daran, dass die Seite nur für die Entwicklung und für
Testzwecke gedacht ist. Darum werden alle Daten periodisch gelöscht.
{{/markdown}}
<!-- end markdown section -->
      </div>
    </div>
  </div>
  <div class="offers">
    <div class="offer">
      <div class="offer-content">
<!-- begin markdown section -->
{{#markdown}}
<h3 style="color:red;">You are not logged in!</h3>

As described on the [About page](({{pathFor 'about'}}), the minutocash platform functions are only available to
logged in users. <br><br>

To test the platform, log in with a pre-defined account which has already some offers and shared offers
populated or create your own new account. <br><br>

The following accounts are available for testing purposes (CaSe SeNsItIvE!):

* Username: **Foobar** / Password: **Foobar**
* Username: **Barfoo** / Password: **Barfoo**
* Username: **Tester** / Password: **Tester**

If you can't login with one of these Accounts, maybe someone changed the password. :-( <br><br>

You are free to create your own account, but keep in mind the site is for developing and testing purposes only.
Therefore, all data will be wiped periodically.
{{/markdown}}
<!-- end markdown section -->
      </div>
    </div>
  </div>
</template>