<template name="offerInputFields">
  <div class="control-group">
    <label class="control-label mandatory" for="firstname">Fist name</label>

    <div class="controls">
      <input name="firstname" type="text" value="{{firstname}}" placeholder="First name"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label mandatory" for="lastname">Last name</label>

    <div class="controls">
      <input name="lastname" type="text" value="{{lastname}}" placeholder="Last name"/>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label mandatory" for="addressStreet">Street and number</label>

    <div class="controls">
      <input name="addressStreet" type="text" value="{{addressStreet}}" placeholder="Street and number"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label mandatory" for="addressPostalCode">Postal code</label>

    <div class="controls">
      <input name="addressPostalCode" type="text" value="{{addressPostalCode}}" placeholder="Postal Code"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label mandatory" for="addressLocation">Location</label>

    <div class="controls">
      <input name="addressLocation" type="text" value="{{addressLocation}}" placeholder="Location (e.g. Zürich)"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label mandatory" for="addressCountry">Country</label>

    <div class="controls">
      <input name="addressCountry" type="text" value="{{addressCountry}}" placeholder="Country (e.g. Switzerland)"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="contactFreeText1">Contact free text Line 1</label>

    <div class="controls">
      <input name="contactFreeText1" type="text" value="{{contactFreeText1}}" placeholder="e.g. your company"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="contactFreeText2">Contact free text Line 2</label>

    <div class="controls">
      <input name="contactFreeText2" type="text" value="{{contactFreeText2}}" placeholder="e.g. your key skill"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="phone">Phone number</label>

    <div class="controls">
      <input name="phone" type="tel" value="{{phone}}" placeholder="Phone number"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="email">Email</label>

    <div class="controls">
      <input name="email" type="email" value="{{email}}" placeholder="Email address"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="website">Website</label>

    <div class="controls">
      <input name="website" type="url" value="{{website}}" placeholder="http://www.example.org"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label mandatory" for="content">Offer</label>

    <div class="controls">
      <textarea rows="5" name="content" type="text" value="" placeholder="Your Offer">{{content}}</textarea>
    </div>
  </div>
</template>