<template name="offerItem">
  <div class="offer">
    <div class="offer-content">
      <h3>{{firstname}} {{lastname}}</h3>
      <p>{{phone}}</p>
      <p>{{content}}</p>
      <p>
        owned by {{ownerName}}
        {{#if ownOffer}}<a href="{{pathFor 'offerEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    {{#if ownOffer}}<div class="invite"><a href="#" class="btn view-details share">Share</a></div>{{/if}}
    <a href="{{pathFor 'offerPage'}}" class="view-details btn ">View Details</a>
  </div>
</template>