<template name="offerItem">
  <div class="offer">
    <div class="offer-content">
      <img class="offerImg" src="/user-placeholder.jpg" alt="Smiley face" width="80px">
      <h3><a href="{{pathFor 'offerPage'}}">{{firstname}} {{lastname}}</a>      <span style="position: relative; display:inline">owned by
        {{#if ownOffer}}
        <span class="label label-important">me</span>
        {{else}}
        <span class="label label-success">{{ownerName}}</span>
        {{#if detailsView}}
        and shared to me by <span class="label label-success">{{shareIssuerName}}</span>
        {{/if}}
        {{/if}}
      </span></h3>


      {{#if detailsView}}
      <p><strong>{{contactFreeText1}}</strong></p>
      <p><strong>{{contactFreeText2}}</strong></p>
      <p>{{addressStreet}}</p>
      <p>{{addressPostalCode}} {{addressLocation}}</p>
      <p>{{addressCountry}}</p>
      {{/if}}

      <p>{{phone}}</p>
      <p>{{email}}</p>
      {{#if detailsView}}
      <p>{{website}}</p>
      <p>Updated: {{updatedText}}</p>
      {{/if}}

      <p style="clear:left;">{{breaklines content}}</p>
    </div>
    {{#unless detailsView}}
    <a href="{{pathFor 'offerPage'}}" class="view-details btn"><i class="icon-eye-open"></i> View Details</a>
    {{/unless}}
    {{#if detailsView}}
    {{#if ownOffer}}
    <a href="{{pathFor 'offerEdit'}}" class="view-details btn"><i class="icon-edit"></i> Edit</a>
    {{else}}
    <a href="{{pathFor 'offerPage'}}" class="view-details btn delete"><i class="icon-remove"></i> Delete from my
      collection</a>
    {{/if}}
    {{/if}}
    <a href="" class="view-details btn generate-pdf"><i class="icon-file"></i> PDF</a>
  </div>
</template>