<template name="offerEdit" xmlns="http://www.w3.org/1999/html">
  <form class="main">
    <div class="control-group">
      <label class="control-label" for="firstname">Fist name</label>
      <div class="controls">
        <input name="firstname" type="text" value="{{firstname}}" placeholder="Your First name"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="lastname">Last name</label>
      <div class="controls">
        <input name="lastname" type="text" value="{{lastname}}" placeholder="Your Last name"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="phone">Phone number</label>
      <div class="controls">
        <input name="phone" type="text" value="{{phone}}" placeholder="Your Phone number"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="content">Offer</label>
      <div class="controls">
        <textarea name="content" type="text" value="" placeholder="Your Offer">{{content}}</textarea>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary submit"/>
      </div>
    </div>
    <hr/>
    <div class="control-group">
      <div class="controls">
        <a class="btn btn-danger delete" href="#">Delete offer</a>
      </div>
    </div>
  </form>
</template>