<template name="offerItem">
  <div class="offer">
    <div class="offer-content">
      <h3><a href="{{pathFor 'offerPage'}}">{{firstname}} {{lastname}}</a></h3>

      <p>{{phone}}</p>

      <p>{{content}}</p>

      <p><span class="label">owned by {{ownerName}}</span></p>
    </div>
    {{#unless detailsView}}<a href="{{pathFor 'offerPage'}}" class="view-details btn">View Details</a>{{/unless}}
    {{#if ownOffer}}<a href="{{pathFor 'offerEdit'}}" class="view-details btn"><i class="icon-edit"></i> Edit</a>{{/if}}
  </div>
</template>