<template name="offerPageSettings">
  <div class="offer">
    <div class="offer-content">
      <h3><i class="icon-wrench"></i> Settings</h3>
      <h5><i class='icon-share'></i> Share with an user</h5>
      <form name="share" class="form-inline">
            <input name="username" type="text" value="" placeholder="Username"/>
            <input type="submit" value="Share" class="btn btn-primary"/>
      </form>
      {{#if hasShareRelations}}
      <h5><i class="icon-user"></i> Shared with:</h5>
      {{#each shareRelations}}
        {{> shareRelation}}
      {{/each}}
      {{/if}}
    </div>
  </div>
</template>